*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:monospace;
}

header {
    width: 100%;
    border: 10px solid color(srgb red green blue) ;
    padding: 50px;
    background-color: rgba(9, 11, 10, 0.616);
    text-align: left;
    color:#f6fafc;

}

span {
    width: 50%;
    border: 10px solid color(srgb red green blue) ;
    padding: 50px;
    background-color: rgba(9, 11, 10, 0.616);
    text-align: right;
    color:#f6fafc;
    float: right;
    
}

nav {
    width: 100%;
    padding: 15px;
    border: 2px hidden;
    color: #f6fafc;
    background-color: rgba(33, 36, 36, 0.75);
    
}

main {
    width: 40%;
    padding: 10%;
    margin: 10%;
    float: right;
    
}

.contact {
    padding: 20px;
    margin: 20px;
    position: relative;
    top: 50px;
    border:6px solid; color: black;border-radius: 15px;
    background-color: rgba(234, 227, 227, 0.712);
    text-align: center;
    color: #f6fafc; 
    font-size: 30px;
}